rules_version = '2';

service cloud.firestore {

  match /databases/{database}/documents {

    match /users/{userId} {

      allow read, write:
        if request.auth != null
        && request.auth.uid == userId;

      match /daily_stats/{date} {

        allow read, delete:
          if request.auth != null
          && request.auth.uid == userId;

        allow create:
          if request.auth != null
          && request.auth.uid == userId
          && request.resource.data.userId == request.auth.uid;

        allow update:
          if request.auth != null
          && request.auth.uid == userId
          && resource.data.userId == request.auth.uid
          && request.resource.data.userId == request.auth.uid;

      }

      match /workouts/{workoutId} {

        allow read, delete:
          if request.auth != null
          && request.auth.uid == userId;

        allow create:
          if request.auth != null
          && request.auth.uid == userId
          && request.resource.data.userId == request.auth.uid;

        allow update:
          if request.auth != null
          && request.auth.uid == userId
          && resource.data.userId == request.auth.uid
          && request.resource.data.userId == request.auth.uid;

      }

    }

  }

}
